<footer class="footer">
    <div class="container">
        <div class="content">
            <p id="footer-copyright">
                This website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            </p>
            <p id="footer-credits">
                <strong> <%= site_title %> </strong> by <a href="http://jarjumarvin.github.io/about">jarjumarvin</a>
            </p>
        </div>
    </div>
</footer>
