<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong><%= site_title %></strong> by
                <a href="http://jarjmarvin.github.io">jarjumarvin</a>.
            </p>
        </div>
    </div>
</footer>