<div class="wrapper-footer">
    <footer class="footer site-footer">
        <div class="container">
            <div>
                <small> Written by <a href="{{ site.baseurl }}/about"> jarjumarvin </a></small>
                <br />
                <small><i class="fas fa-code"></i> on <a href="https://github.com/jarjumarvin/">GitHub</a></small>
            </div>
        </div>
    </footer>
</div>