<footer class="footer">
    <div class="container">
        <div class="content">
            <p id="footer-copyright">
                This website is licensed under the terms of the <a rel="license" href="https://github.com/jarjumarvin/LLK#license">MIT License</a>.
            </p>
            <p id="footer-credits">
                <strong> <%= site_title %> </strong> by <a href="http://jarjumarvin.github.io/about">jarjumarvin.</a>
            </p>
        </div>
    </div>
</footer>
