<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/LLK">
			<img src="images/llk_logo_1120.png" alt="<%- site_title %>: Helper Website for LLK" width="112" height="28">
		</a>
        <div class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/korean">
				한국인이세요?
			</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
					Discord
				</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/discord-rules-roles">
						Rules & Roles
					</a>
                    <a class="navbar-item" href="/hangul-placement">
						Placement Test
					</a>
                    <a class="navbar-item" href="/hangul-channels-activities">
						Channels & Activities
					</a>
                </div>
            </div>
            <a class="navbar-item" href="/korean">
                Classroom
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
					Resources
				</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/discord-invite">
						한굴 / Hangul
					</a>
                    <a class="navbar-item" href="/discord-rules">
						언어 / Vocabulary
					</a>
                    <a class="navbar-item" href="/discord-rules">
                        Media
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    사전 / Dictionary
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="https://dic.naver.com/">
                        Naver Kor-Kor
                    </a>
                    <a class="navbar-item" href="https://krdic.naver.com/">
                        Naver Kor-Eng
                    </a>
                    <a class="navbar-item" href="https://endic.naver.com/">
                        Naver Hanja
                    </a>
                    <a class="navbar-item" href="https://alldic.daum.net">
                        Daum Dictionary
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="/faq">
				FAQ
			</a>
        </div>
    </div>
</nav>