<!doctype html>
<html lang="en" class="has-navbar-fixed-top">

<% page_title = "Welcome to Let's Learn Korean!" %>
    <% title = site_title + " - " + page_title; %>
        <%- include partials/head %>

            <body>
                <%- include partials/navbar %>
                    <%- include partials/cards %>
                        <%- include partials/footer %>

                            <script src="js/script.min.js"></script>
            </body>


</html>