<!doctype html>
<html lang="en" class="has-navbar-fixed-top">

<% page_title = "Welcome to Let's Learn Korean!" %>
    <% title = site_title + " - " + page_title; %>
        <%- include partials/head %>

            <body>
                <%- include partials/navbar %>
                    <section class="hero is-info is- root">
                        <div class="hero-body">
                            <div class="container site-content">
                                <h1 class="page-title title is-1">
                                        <%= page_title %>
                                </h1>
                                <div class="columns" id="get-started">
                                    <div class="column is-one-third">
                                        <div class="card start-box" id="one">
                                            <div class="card-content">
                                                <i class="card-icon fas fa-info fa-3x" id="icon-one"></i>
                                                <h1 class="subtitle is-3">Rules & Roles</h1>
                                                <p>The rules and roles of the LLK server.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="card start-box" id="two">
                                            <div class="card-content">
                                                <i class="card-icon fa fab fa-discord fa-3x" id="icon-two"></i>
                                                <h1 class="subtitle is-3">Discord</h1>
                                                <p>The channels and actvities of our Discord.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="card start-box" id="three">
                                            <div class="card-content">
                                                <i class="card-icon fas fa-question fa-3x" id="icon-three"></i>
                                                <h1 class="subtitle is-3">Novice</h1>
                                                <p>I dont know ANY Korean.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="get-wallet">
                                    <div class="columns">
                                        <div class="column is-one-third">
                                            <div class="card start-box" id="win-wallet" data-link="./wallet-win.html">
                                                <div class="card-content">
                                                    <i class="card-icon fas fa-pencil-alt fa-3x" id="icon-four"></i>
                                                    <h1 class="subtitle is-3">Beginner</h1>
                                                    <p>I know how to read, maybe some basic grammar and words.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-one-third">
                                            <div class="card start-box" id="wallet-mac" data-link="./wallet-mac.html">
                                                <div class="card-content">
                                                    <i class="card-icon fas fa-book fa-3x" id="icon-five"></i>
                                                    <h1 class="subtitle is-3">Intermediate</h1>
                                                    <p>I know a decent amount of grammar and vocabulary and want to learn more.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-one-third">
                                            <div class="card start-box" id="nix-wallet" data-link="./wallet-nix.html">
                                                <div class="card-content">
                                                    <i class="card-icon fas fa-graduation-cap fa-3x" id="icon-six"></i>
                                                    <h1 class="subtitle is-3">Advanced</h1>
                                                    <p>I know a lot of Korean and want improve in a particular area.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <%- include partials/footer %>

                        <script src="js/script.min.js"></script>
            </body>

</html>